.profile a:hover {
  text-decoration: none;
}
.profile a:hover .panel {
  background-color: #ddd;
}
.profile .panel {
  min-height: 128px;
}
.profile .thumb-lg {
  object-fit: scale-down;
}
.info h2 {
  text-transform: capitalize;
}
.center {
  text-align: center;
}